/* common shared styles */
body{
    font-family: 'Lato', sans-serif;

}

.btn-primary{
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;

font-weight: 700;
    border-radius: 8px;
background-color: #E55473;
border: none;
}

.section-title{
    color: #272727;
text-align: center;

font-size: 40px;

font-weight: 800;
margin-bottom: 25px;

}
.section-content{
    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;

font-weight: 400;
line-height: 30px; /* 166.667% */

max-width: 600px;
}
/* header related styles */
.header{
    background-color: rgba(229, 84, 115, 0.10);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 70px;
   

   /* background-color: #E55473; */
}

/* banner related styles */
.banner{
    max-width: 700px;
}
.banner-title{
    color: #272727;

font-size: 80px;

font-weight: 800;
margin-bottom: 30px;


}
.banner-content{
    color: rgba(39, 39, 39, 0.60);

font-size: 18px;

font-weight: 400;
line-height: 30px; /* 166.667% */
margin-bottom: 30px;
}

.header .profile{
    width: 635px;
height: 800px;
margin-top: 50px;
}

/* main related styles */
.featured-flowers{
    background-color: white;
}
.featured-flowers-content{
    margin: 180px 500px 50px;

}
.featured-flowers-pic{
    display: flex;
    justify-content: space-between;
    margin: 50px 80px 200px;
}
.pic1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.pic2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    
    
}
.pic3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.flower-pic{
    width: 280px;
height: 350px;
padding: 100px 75px 0;

}
.pic-title{
    text-align: center;
    color: #272727;


font-size: 24px;

font-weight: 700;
line-height: 35px; /* 145.833% */
margin-top: 30px;

}

/* delivery related styles */
.delivery{
    margin: 190px 80px 120px;
    padding: 85px 150px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);

}
.delivery-support{
   justify-content: space-around;

}
.delivery-pic{
    width: 88px;
height: 88px;
margin-left: 70px;


}
.delivery-title{
    color: rgba(39, 39, 39, 0.80);
text-align: center;

font-size: 18px;

font-weight: 600;
line-height: 35px; /* 145.833% */
}

.deal{
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
align-items: center;

}
#btn{
    margin-left: 220px;
    margin-top: 30px;
}

.social-media{
    padding: 120px 80px;
}
.instagram{
    padding:0 400px ;
}
.flowers{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.subscribe{
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position:center ;
    
    
}
#content{
    margin-left: 170px;
}

.search{
    padding: 120px 280px;
}
.subscribe input{
    border-radius: 8px;
background: #FFF;
width: 700px;
height: 64px;
color: rgba(39, 39, 39, 0.60);


font-size: 16px;

font-weight: 400;


}

/* footer related styles */
footer{
    background-color: #111010;
}
.footer{
    max-width: 625px;
    padding: 120px 430px;
}
.footer-title{
    color: #FFF;

font-size: 48px;

font-weight: 800;
text-align: center;

}
footer span{
    color: #E55473;
}
.footer-content{
    color: rgba(255, 255, 255, 0.90);
text-align: center;

font-size: 18px;

font-weight: 400;
line-height: 30px; /* 166.667% */
}
.about{
    color: rgba(255, 255, 255, 0.40);
text-align: center;

font-size: 16px;

font-weight: 400;

}